*{
	margin:0;
	padding:0;
}

html, body{
	height:100%;
}

body{
	color:#333333;
	font: 15px/1.4 Verdana, Helvetica, Arial, sans-serif;
}

#container{
	width:960px;
	margin:0px auto;
}

.alignright{
	float:right;
}

.alignleft{
	float:left;
}