*{
	margin:0;
	padding:0;
}

html, body{
	height:100%;
}

body{
	color:#333333;
	font: 16px/20px Verdana, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4{
	font-family:Verdana, Helvetica, Arial, sans-serif;
}

p{
	margin:1em 0;
}

#container{
	width:960px;
	margin:0px auto;
}

#post{
	width:600px;
}

.post-title{
	font: 24px/30px normal;
}

.meta{
	color:#CCCCCC;
}

#text{
	font-family: didot, Palatino, Georgia, 'Times New Roman', serif;
}

.alignright{
	float:right;
}

.alignleft{
	float:left;
}