*{
	margin:0;
	padding:0;
}

html, body{
	height:100%;
}

body{
	color:#333333;
	font: 16px/20px Verdana, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4{
	font-family:Verdana, Helvetica, Arial, sans-serif;
	font-weight:normal;
}

h1{
	font: 24px/28px;
}

h2{
	font: 22px/26px;
}

h3{
	font: 20px/24px;
}

h4{
	font: 18px/22px;
}

p{
	margin:1em 0;
}

ul, ol{
	margin-left:30px;
	padding-left:0;
}

hr {
	border: 0 #CCCCCC solid;
	border-top-width: 1px;
	clear: both;
	height: 0;
}

#container{
	width:960px;
	margin:0px auto;
}

#header{
	
}

#sider{
	width:300;
	margin:0 20px 0 0;
	float:left;
}

#page{
	width:640px;
}

.post{
	margin:1em 0;
}

.meta{
	color:#CCCCCC;
}

.text{
	font-family: didot, Palatino, Georgia, 'Times New Roman', serif;
	border-bottom:2px dashed #CCCCCC;
	padding:0 0 1em;
}

#disqus_thread{
	margin:1em 0 0;
}

.alignright{
	float:right;
}

.alignleft{
	float:left;
}