# Jekyll site
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/
.bundle/

# Ruby
*.gem

# Logs
*.log

# Environment
.env
.env.*

# IDE and Editor folders
.idea/
.vscode/
*.swp
*.swo
*~
.obsidian

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Claude Code
CLAUDE.md