---
layout: default
og_type: website
---

{% assign sorted_posts = site.posts | sort: "datetime" | reverse %}
{% for post in sorted_posts limit:10 %}
  {% unless post.draft %}
  <div class="post">
    <h1 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <p class="meta">{{ post.date | date_to_string }}{% if post.place %} &#8212; {{ post.place }}{% endif %}</p>

    <div class="post-content text">
      {{ post.content }}
    </div>
  </div>
  {% endunless %}
{% endfor %}
