---
layout: page-bootstrap
title: Flickr Web Embed (v2) Testing
place: San Francisco, CA
twitter_card: summary_large_image
image: http://farm8.staticflickr.com/7277/7568719478_4d4d8dcf72_z.jpg
description: Flickr Web Embed (v2) Tests
---

<div class="post">

	<h1 class="post-title">{{ page.title }}</h1>
	<p class="meta">18 Aug 2014{% if page.place %} &#8212; {{ page.place }}{% endif %}</p>

	<div class="post-content text">
		<p>
			Flickr Web Embed Version 2.0, how does it work?
		</p>

		<p>
			It's easy! Just grab the standard "html" embed code for a flickr photo, it will look like this:
		</p>

{% highlight html %}
<a data-flickr-embed="true" href="https://www.flickr.com/photos/cjmartin/14742549467" title="FlickrHQ Rooftop Lunching by Chris Martin, on Flickr">
<img src="https://farm6.staticflickr.com/5580/14742549467_2b1878e9fe_z.jpg" width="640" height="480" alt="FlickrHQ Rooftop Lunching"></a>
{% endhighlight %}

		<p>
			And add this extra code to the end:
		</p>

{% highlight html %}
<script async src="//widgets.flickr.com/embedr/embedr.js" charset="utf-8"></script>
{% endhighlight %}

		<p>
			The final embed code will look like:
		</p>

{% highlight html %}
<a data-flickr-embed="true" href="https://www.flickr.com/photos/cjmartin/14742549467" title="FlickrHQ Rooftop Lunching by Chris Martin, on Flickr">
<img src="https://farm6.staticflickr.com/5580/14742549467_2b1878e9fe_z.jpg" width="640" height="480" alt="FlickrHQ Rooftop Lunching"></a>
<script async src="//widgets.flickr.com/embedr/embedr.js" charset="utf-8"></script>
{% endhighlight %}

		<p>
			And when entered into a web page, the result is:
		</p>

		<a data-flickr-embed="true" href="https://www.flickr.com/photos/cjmartin/15256093683" title="Playa Perro by Chris Martin, on Flickr"><img src="https://farm8.staticflickr.com/7579/15256093683_830dac5243_z.jpg" width="640" height="480" alt="Playa Perro"></a><script async src="//widgets.flickr.com/embedr/embedr.js" charset="utf-8"></script>

		<p>
			Below are a few blog posts for reference. The first is where we started, the second is the same with a web embed.
		</p>

		<p>
			It is my opinion that the embed should be "the same, but better." Without interaction it should look like a normal photo in a blog post. On mouse over (and at initial load) all of the extra awesome stuff should appear.
		</p>

		<p>
			Following the test posts are a bunch of different conditions to test the embed.
		</p>
	</div>
  
</div>

<div class="post">

	<h1 class="post-title">Photo Hack Day SF &mdash; The Plan (original)</h1>
	<p class="meta">14 Jul 2012 &#8212; San Francisco, CA</p>

	<div class="post-content text">
		<a href="https://www.flickr.com/photos/cjmartin/7568719478/" title="En Route to Photo Hack Day SF"><img src="https://farm8.staticflickr.com/7277/7568719478_4d4d8dcf72_z.jpg" width="640" height="478" alt="En Route to Photo Hack Day SF"></a>

		<p>
			I love hack days. I usually go into these things with either no idea, or an idea that's been bubbling in my head and will almost certainly be too ambitious for a day of hacking. Today is the latter, this should be fun
		</p>

		<p>
			A few months ago Cal built <a href="http://thisismyj.am">http://thisismyj.am</a>, a parody of <a href="http://thisismyjam.com">http://thisismyjam.com</a>. This triggered the domain-buying lever in my brain and I wound up with <a href="https://thisismycam.com">http://thisismycam.com</a>, which has been parked ever since. The sliver of an idea that inspired the domain purchase is a site that hooks up to Flickr, looks at a user's photos, and builds a profile of all the cameras that they've used. Simple, right?
		</p>

		<p>
			The plan, pull in photos, check exif, pull in camera info from amazon, build some pretty pages to display it all. Keep an eye on <a href="http://thisismycam.com">http://thisismycam.com</a> for progress.
		</p>
	</div>
  
</div>

<div class="post">

	<h1 class="post-title">Photo Hack Day SF &mdash; The Plan (unlinked img)</h1>
	<p class="meta">14 Jul 2012 &#8212; San Francisco, CA</p>

	<div class="post-content text">
		<img src="https://farm8.staticflickr.com/7277/7568719478_4d4d8dcf72_z.jpg" width="640" height="478" alt="En Route to Photo Hack Day SF">

		<p>
			I love hack days. I usually go into these things with either no idea, or an idea that's been bubbling in my head and will almost certainly be too ambitious for a day of hacking. Today is the latter, this should be fun
		</p>

		<p>
			A few months ago Cal built <a href="http://thisismyj.am">http://thisismyj.am</a>, a parody of <a href="http://thisismyjam.com">http://thisismyjam.com</a>. This triggered the domain-buying lever in my brain and I wound up with <a href="https://thisismycam.com">http://thisismycam.com</a>, which has been parked ever since. The sliver of an idea that inspired the domain purchase is a site that hooks up to Flickr, looks at a user's photos, and builds a profile of all the cameras that they've used. Simple, right?
		</p>

		<p>
			The plan, pull in photos, check exif, pull in camera info from amazon, build some pretty pages to display it all. Keep an eye on <a href="http://thisismycam.com">http://thisismycam.com</a> for progress.
		</p>
	</div>
  
</div>

<div class="post">

	<h1 class="post-title">Photo Hack Day SF &mdash; The Plan (web embed)</h1>
	<p class="meta">14 Jul 2012 &#8212; San Francisco, CA</p>

	<div class="post-content text">
		<a data-flickr-embed="true" href="https://www.flickr.com/photos/cjmartin/7568719478/" title="En Route to Photo Hack Day SF"><img src="https://farm8.staticflickr.com/7277/7568719478_4d4d8dcf72_z.jpg" width="640" height="478" alt="En Route to Photo Hack Day SF"></a><script async src="//widgets.flickr.com/embedr/embedr.js" charset="utf-8"></script>

		<p>
			I love hack days. I usually go into these things with either no idea, or an idea that's been bubbling in my head and will almost certainly be too ambitious for a day of hacking. Today is the latter, this should be fun
		</p>

		<p>
			A few months ago Cal built <a href="http://thisismyj.am">http://thisismyj.am</a>, a parody of <a href="http://thisismyjam.com">http://thisismyjam.com</a>. This triggered the domain-buying lever in my brain and I wound up with <a href="http://thisismycam.com">http://thisismycam.com</a>, which has been parked ever since. The sliver of an idea that inspired the domain purchase is a site that hooks up to Flickr, looks at a user's photos, and builds a profile of all the cameras that they've used. Simple, right?
		</p>

		<p>
			The plan, pull in photos, check exif, pull in camera info from amazon, build some pretty pages to display it all. Keep an eye on <a href="http://thisismycam.com">http://thisismycam.com</a> for progress.
		</p>
	</div>
  
</div>

<div class="post">

	<h1 class="post-title">Private Photo</h1>
	<p class="meta">19 Dec 2013{% if page.place %} &#8212; {{ page.place }}{% endif %}</p>

	<div class="post-content text">
		<p>
			This is an embedded private photo, which should show up, but only as a standard image. The embed should not load.

		<a href="https://www.flickr.com/photos/cjmartin/14963953964" title="Untitled by Chris Martin, on Flickr"><img src="https://farm6.staticflickr.com/5603/14963953964_ca1ae3023f_z.jpg" width="480" height="640" alt="Untitled"></a>

		<p>
			Standard image "embed" (old way).
		</p>

		<a data-flickr-embed="true" href="https://www.flickr.com/photos/cjmartin/14963953964" title="Untitled by Chris Martin, on Flickr"><img src="https://farm6.staticflickr.com/5603/14963953964_ca1ae3023f_z.jpg" width="480" height="640" alt="Untitled"></a><script async src="//widgets.flickr.com/embedr/embedr.js" charset="utf-8"></script>

		<p>
			Web Embed (Should be the same as the standard image above.)
		</p>
	</div>
  
</div>

<div class="post">

	<h1 class="post-title">Privatized Photo</h1>
	<p class="meta">19 Dec 2013{% if page.place %} &#8212; {{ page.place }}{% endif %}</p>

	<div class="post-content text">
		<a href="https://www.flickr.com/photos/42053363@N04/8269660913/" title="Smooshyface by doppelcjmartin, on Flickr"><img src="https://farm9.staticflickr.com/8216/8269660913_e9839b9bea_z.jpg" width="640" height="480" alt="Smooshyface"></a>

		<p>
			Standard image "embed" (old way).
		</p>

		<a data-flickr-embed="true" href="https://www.flickr.com/photos/42053363@N04/8269660913/" title="Smooshyface by doppelcjmartin, on Flickr"><img src="https://farm9.staticflickr.com/8216/8269660913_e9839b9bea_z.jpg" width="640" height="480" alt="Smooshyface"></a><script async src="//widgets.flickr.com/embedr/embedr.js" charset="utf-8"></script>

		<p>
			Web Embed
		</p>

		<iframe src="https://www.flickr.com/photos/42053363@N04/8269660913/player/e9839b9bea" height="480" width="640"  frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

		<p>
			Old Web Embed
		</p>
	</div>
  
</div>

<div class="post">

	<h1 class="post-title">Deleted Photo</h1>
	<p class="meta">19 Dec 2013{% if page.place %} &#8212; {{ page.place }}{% endif %}</p>

	<div class="post-content text">
		<a href="https://www.flickr.com/photos/cjmartin/13705508023" title="Untitled by Chris Martin, on Flickr"><img src="https://farm3.staticflickr.com/2920/13705508023_81ca5a7b49_z.jpg" width="640" height="480" alt="Untitled"></a>

		<p>
			Standard image "embed" (old way).
		</p>

		<a data-flickr-embed="true" href="https://www.flickr.com/photos/cjmartin/13705508023" title="Untitled by Chris Martin, on Flickr"><img src="https://farm3.staticflickr.com/2920/13705508023_81ca5a7b49_z.jpg" width="640" height="480" alt="Untitled"></a><script async src="//widgets.flickr.com/embedr/embedr.js" charset="utf-8"></script>

		<p>
			Web Embed
		</p>

		<iframe src="https://www.flickr.com/photos/cjmartin/13705508023/player/" width="640" height="480" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

		<p>
			Old Web Embed
		</p>
	</div>
  
</div>

<div class="post">

	<h1 class="post-title">Sizes</h1>
	<p class="meta">19 Dec 2013{% if page.place %} &#8212; {{ page.place }}{% endif %}</p>

	<div class="post-content text">
		<p>
			Examples of all sizes available in the select box on the photo page.
		</p>
		<a data-flickr-embed="true" href="https://www.flickr.com/photos/nasamarshall/14961872765" title="Italy and Sicily (NASA, International Space Station, 08/09/14) by NASA&#x27;s Marshall Space Flight Center, on Flickr"><img src="https://farm6.staticflickr.com/5587/14961872765_f0d8305ab7_s.jpg" width="75" height="75" alt="Italy and Sicily (NASA, International Space Station, 08/09/14)"></a><script async src="//widgets.flickr.com/embedr/embedr.js" charset="utf-8"></script>
		<a data-flickr-embed="true" href="https://www.flickr.com/photos/nasamarshall/14961872765" title="Italy and Sicily (NASA, International Space Station, 08/09/14) by NASA&#x27;s Marshall Space Flight Center, on Flickr"><img src="https://farm6.staticflickr.com/5587/14961872765_f0d8305ab7_q.jpg" width="150" height="150" alt="Italy and Sicily (NASA, International Space Station, 08/09/14)"></a><script async src="//widgets.flickr.com/embedr/embedr.js" charset="utf-8"></script>
		<a data-flickr-embed="true" href="https://www.flickr.com/photos/nasamarshall/14961872765" title="Italy and Sicily (NASA, International Space Station, 08/09/14) by NASA&#x27;s Marshall Space Flight Center, on Flickr"><img src="https://farm6.staticflickr.com/5587/14961872765_f0d8305ab7_t.jpg" width="100" height="67" alt="Italy and Sicily (NASA, International Space Station, 08/09/14)"></a><script async src="//widgets.flickr.com/embedr/embedr.js" charset="utf-8"></script>
		<a data-flickr-embed="true" href="https://www.flickr.com/photos/nasamarshall/14961872765" title="Italy and Sicily (NASA, International Space Station, 08/09/14) by NASA&#x27;s Marshall Space Flight Center, on Flickr"><img src="https://farm6.staticflickr.com/5587/14961872765_f0d8305ab7_m.jpg" width="240" height="160" alt="Italy and Sicily (NASA, International Space Station, 08/09/14)"></a><script async src="//widgets.flickr.com/embedr/embedr.js" charset="utf-8"></script>
		<a data-flickr-embed="true" href="https://www.flickr.com/photos/nasamarshall/14961872765" title="Italy and Sicily (NASA, International Space Station, 08/09/14) by NASA&#x27;s Marshall Space Flight Center, on Flickr"><img src="https://farm6.staticflickr.com/5587/14961872765_f0d8305ab7_n.jpg" width="320" height="213" alt="Italy and Sicily (NASA, International Space Station, 08/09/14)"></a><script async src="//widgets.flickr.com/embedr/embedr.js" charset="utf-8"></script>
		<p>75x75px, 150x150px, 100x75px, 240x180px, 320x240px</p>
		<a data-flickr-embed="true" href="https://www.flickr.com/photos/nasamarshall/14961872765" title="Italy and Sicily (NASA, International Space Station, 08/09/14) by NASA&#x27;s Marshall Space Flight Center, on Flickr"><img src="https://farm6.staticflickr.com/5587/14961872765_f0d8305ab7.jpg" width="500" height="333" alt="Italy and Sicily (NASA, International Space Station, 08/09/14)"></a><script async src="//widgets.flickr.com/embedr/embedr.js" charset="utf-8"></script>
		<p>500px</p>
		<a data-flickr-embed="true" href="https://www.flickr.com/photos/nasamarshall/14961872765" title="Italy and Sicily (NASA, International Space Station, 08/09/14) by NASA&#x27;s Marshall Space Flight Center, on Flickr"><img src="https://farm6.staticflickr.com/5587/14961872765_f0d8305ab7_z.jpg" width="640" height="426" alt="Italy and Sicily (NASA, International Space Station, 08/09/14)"></a><script async src="//widgets.flickr.com/embedr/embedr.js" charset="utf-8"></script>
		<p>640px</p>
		<a data-flickr-embed="true" href="https://www.flickr.com/photos/nasamarshall/14961872765" title="Italy and Sicily (NASA, International Space Station, 08/09/14) by NASA&#x27;s Marshall Space Flight Center, on Flickr"><img src="https://farm6.staticflickr.com/5587/14961872765_f0d8305ab7_c.jpg" width="800" height="532" alt="Italy and Sicily (NASA, International Space Station, 08/09/14)"></a><script async src="//widgets.flickr.com/embedr/embedr.js" charset="utf-8"></script>
		<p>800px</p>
		<a data-flickr-embed="true" href="https://www.flickr.com/photos/nasamarshall/14961872765" title="Italy and Sicily (NASA, International Space Station, 08/09/14) by NASA&#x27;s Marshall Space Flight Center, on Flickr"><img src="https://farm6.staticflickr.com/5587/14961872765_f0d8305ab7_b.jpg" width="1024" height="681" alt="Italy and Sicily (NASA, International Space Station, 08/09/14)"></a><script async src="//widgets.flickr.com/embedr/embedr.js" charset="utf-8"></script>
		<p>1024px</p>
		<a data-flickr-embed="true" href="https://www.flickr.com/photos/nasamarshall/14961872765" title="Italy and Sicily (NASA, International Space Station, 08/09/14) by NASA&#x27;s Marshall Space Flight Center, on Flickr"><img src="https://farm6.staticflickr.com/5587/14961872765_9d74964d7a_h.jpg" width="1600" height="1065" alt="Italy and Sicily (NASA, International Space Station, 08/09/14)"></a><script async src="//widgets.flickr.com/embedr/embedr.js" charset="utf-8"></script>
		<p>1600px</p>
		<a data-flickr-embed="true" href="https://www.flickr.com/photos/nasamarshall/14961872765" title="Italy and Sicily (NASA, International Space Station, 08/09/14) by NASA&#x27;s Marshall Space Flight Center, on Flickr"><img src="https://farm6.staticflickr.com/5587/14961872765_0858f06234_k.jpg" width="2048" height="1363" alt="Italy and Sicily (NASA, International Space Station, 08/09/14)"></a><script async src="//widgets.flickr.com/embedr/embedr.js" charset="utf-8"></script>
		<p>2048px</p>
		<!--
		<iframe src="http://www.flickr.com/photos/cjmartin/11444155875/in/photostream/player/" width="4000" height="3000" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
		<p>4000px (original)</p>
		-->
	</div>
  
</div>

<p>&copy;2014 Chris James Martin</p>