<aside class="cheshire-note">
  <p>Each day <a href="/cheshire">Cheshire</a> asks me (Chris) a series of morning and evening questions and generates a journal entry based on my answers.</p>
  <p>These journal entries are AI generated (using ChatGPT, but sometimes with other models) and usually reflect an accurate summary of my day, if often a bit more cheery than I might write myself.</p>
  <p>
    <em>These pages include <code class="language-plaintext highlighter-rouge">&lt;meta name="robots" content="noindex, nofollow"&gt;</code> and should not be indexed.</em>
  </p>
</aside>