<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% if page.title %}{{ page.title }} | {% endif %}Roundhere.net by Chris Martin</title>
    <meta name="author" content="Chris James Martin" />
    <link href="http://feeds.feedburner.com/cjmartin" rel="alternate" title="Roundhere.net by Chris Martin" type="application/atom+xml" />

    <link rel="stylesheet" type="text/css" href="/css/screen.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" media="screen">
    
    <script type="text/javascript" src="http://use.typekit.com/sdq8vew.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>  
  <body>
    <div id="container">
      <div id="page" class="narrow">
        {{ content }}
      </div>
      
      <div id="footer">
      </div>
    </div>
    <script type="text/javascript" src="/js/body.js"></script>
  </body>
</html>