<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% if page.title %}{{ page.title }} | {% endif %}Roundhere.net by Chris Martin</title>
    <meta name="author" content="Chris James Martin" />
    <link href="http://feeds.feedburner.com/cjmartin" rel="alternate" title="Roundhere.net by Chris Martin" type="application/atom+xml" />

    <link rel="stylesheet" type="text/css" href="/css/screen.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" media="screen">

{% if page.twitter_card %}
    <meta name="twitter:card" content="{{ page.twitter_card }}">
    <meta name="twitter:site" content="@flickr">
    <meta name="twitter:creator" content="@cjmartin">
    <meta name="twitter:title" content="Serious">
    <meta name="twitter:description" content="">
    <meta name="twitter:image:src" content="">
    <meta name="twitter:player" content="http://www.flickr.com/photos/cjmartin/5472282235/in/photolist-9kySRH-9kS5VE/player">
    <meta name="twitter:player:stream" content="">
    <meta name="twitter:player:stream:content_type" content="">
    <meta name="twitter:player:height" content="375">
    <meta name="twitter:player:width" content="500">
    <meta name="twitter:domain" content="">
    <meta name="twitter:app:name:iphone" content="">
    <meta name="twitter:app:name:ipad" content="">
    <meta name="twitter:app:name:googleplay" content="">
    <meta name="twitter:app:url:iphone" content="">
    <meta name="twitter:app:url:ipad" content="">
    <meta name="twitter:app:url:googleplay" content="">
    <meta name="twitter:app:id:iphone" content="">
    <meta name="twitter:app:id:ipad" content="">
    <meta name="twitter:app:id:googleplay" content="">
{% endif %}
    
    <script type="text/javascript" src="http://use.typekit.com/sdq8vew.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>  
  <body>
    <div id="container">
      <div id="page">
        {{ content }}
      </div>
      
      <div id="footer">
      </div>
    </div>
    <script type="text/javascript" src="/js/body.js"></script>
  </body>
</html>