---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <p class="meta">{{ page.date | date_to_string }}{% if page.place %} &#8212; {{ page.place }}{% endif %}</p>
  
  <div class="post-content text">
    {{ content }}
  </div>
  
  <div id="comments">
    <div id="disqus_thread" class="text"></div>
    <script type="text/javascript" src="http://disqus.com/forums/cjmartin/embed.js"></script>
    <noscript><a href="http://cjmartin.disqus.com/?url=ref">View the discussion thread.</a></noscript>
  </div>
</div>